<table class="table table-striped" id="comment_list">
    <thead>
    <tr>
        <th colspan="3" class="align-left">댓글 목록</th>
    </tr>
    </thead>
    <tbody>
    {% for comment in comments %}
{#        comment_single.html과 중복이 되므로 include한다. #}
{#        <tr>#}
{#            <td>{{ comment.text }}</td>#}
{#            <td>{{ comment.author.username }}</td>#}
{#            <td>{{ comment.created }}</td>#}
{#            <td><a href="{% url 'board:comment_update' comment.id %}" class="btn btn-warning btn-sm">update</a></td>#}
{#            <td><a href="{% url 'board:comment_delete' comment.id %}" class="btn btn-danger btn-sm">delete</a></td>#}
{#        </tr>#}
        {% include  'board/comment_single.html' %}
    {% endfor %}
    </tbody>
</table>