<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr class="comment_row">
    <td colspan="3">{{ comment.text }}</td>
    <td>{{ comment.author.username }}</td>
    <td>{{ comment.created }}</td>
    <td><a href="{% url 'board:comment_update' comment.id %}" class="btn btn-warning btn-sm btn_comment_update">update</a></td>
    <td><a href="{% url 'board:comment_delete' comment.id %}" class="btn btn-danger btn-sm btn_comment_delete">delete</a></td>
</tr>
</body>
</html>