{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col"></div>
        <div class="col-8 col-md-6 col-lg-8">

        <div class="data_list_area">
            {% include 'board/document_list2.html' %}
        </div>

        <div class="data_area">
            데이터가 입력될 곳
        </div>

        <a href="{% url 'board:get_data_ajax' %}" class="btn_get_data btn btn-info">데이터 가져오기</a>

{#Pagination 구현#}
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
{#                    <li class="page-item">#}
{#                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>#}
{#                    </li>#}

                    {% for page in range %}
                        <li class="page-item"><a class="page-link btn_get_document" href="{% url 'board:list' %}?page={{ page }}">{{ page }}</a></li>
                    {% endfor %}

{#                    <li class="page-item">#}
{#                        <a class="page-link" href="{% url 'board:list' %} ?page={{ page }}" tabindex="+1">Next</a>#}
{#                    </li>#}
                </ul>
            </nav>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}


{# Todo 2019-05-17 금요일수업 #}


{% block extra_script %}
        <script type="text/javascript">
// 1. 버튼을 누르면 페이지 이동이 안되도록하기
// 2. 데이터를 가져오기
$(function () {
    // 페이지 로딩이 끝나면 할일들
    $('.btn_get_data').click(function(e){
        e.preventDefault(); // 버튼이 클릭하면 이동 못하게 기본 기능 취소
        {#alert('clicked!!!'); // 확인을 위해 알림창 띄우기#}

        url = $(this).attr('href'); // this = 이벤트의 대상, 여기서는(btn_get_data)
        alert(url);
        $.ajax({
            // ajax 호출이 사용하는 매개변수
            url:url
        }).done(function(data){
            // 호출이 끝나면 받은 데이터를 처리하는 부분
            {#alert(data.name);#}
            nm = data.name;
            age = data.age;
            bloodtype = data.bloodtype;
            html = "<ul><li>"+nm+"</li><li>"+age+"</li><li>"+bloodtype+"</li></ul>";
            $('.data_area').html(html);
        });
    });

    $('.btn_get_document').click(function(e){
       e.preventDefault();
       // 페이지번호를 누르면 url 가져옴
       url = $(this).attr('href');

       $.ajax({
           url:url
       }).done(function(data){
            var rp_list = $(data).find('.table');
            $('.table').html(rp_list);

       });
    });
});

        </script>
{% endblock %}