{% extends 'base.html' %}

{% block title %}
Logout
{% endblock %}


{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-12 col-xl-6">
        <div class="alert alert-primary" role="alert">
            Please insert bookmark information
        </div>
        <form action="" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="signin">
        </form>
    </div>
    <div class="col"></div>
</div>

{% endblock %}
